*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.row1{
    height: auto;
    background-color: brown;
    width: 500px;
}